<div class="panel-heading">
  <h2><%= t 'profile.auth_token' %></h2>
</div>

<div class="panel-body">
  <p><%= t 'profile.auth_token_explanation' %></p>
  <% unless current_user.authentication_token.present? %>
    <p class="text-center"><i class="glyphicon glyphicon-info-sign"></i> <%= t 'profile.no_auth_token_yet' %></p>
  <% end %>

  <% if @token %>
    <p class="text-center"><%= t 'profile.your_auth_token_is' %></p>
    <h4 class="text-center"><%= @token %></h4>
  <% end %>

  <div class="actions row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= button_to t('profile.gen_auth_token'), users_token_index_url, class: 'btn btn-primary btn-block', method: :post %>
      <% if current_user.authentication_token.present? %>
        <p class="text-center"><i class="glyphicon glyphicon-info-sign"></i> <strong><%= t 'profile.auth_token_already_exists' %></strong> <%= t 'profile.new_token_will_invalid_old' %></p>
      <% end %>
    </div>
  </div>
</div>

