%h5 Resend unlock instructions
%br/
= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    = f.email_field :email, :autofocus => true, placeholder: 'Email'
  %div= f.submit "Resend", class: 'button'
= render "devise/shared/links"
