.clearfix.panel
  .row
    .medium-9.columns
      %h1.text-center.show-for-small-only Sensor Types
      %h1.show-for-medium-up Sensor Types
    .medium-3.columns
      = link_to ' New Sensor Type', new_type_path, class: 'button fi-plus right show-for-medium-up'
      = link_to ' New Sensor Type', new_type_path, class: 'button fi-plus show-for-small-only'
= render 'layouts/flash'
.row
  .medium-12.columns
    %table
      %thead
        %tr
          %th Name
          %th
          %th
          %th
      %tbody
        - @types.each do |type|
          %tr
            %td= type.name
            %td= link_to 'Show', type
            %td= link_to 'Edit', edit_type_path(type)
            %td= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' }
