= form_for(current_user, url: { action: 'update_password' }, html: { method: :patch } ) do |f|
  -if @user.errors.any?
    -@user.errors.full_messages.each do |error|
      %p.alert-box.info.radius
        = error
        = link_to '#', class: 'close' do
          &times;
  .field
    = f.password_field :password, autocomplete: 'off', placeholder: 'New password'
  .field
    = f.password_field :password_confirmation, placeholder: 'Confirm new password'
  .field
    = f.password_field :current_password, autocomplete: 'off', placeholder: 'Old password'
  .action_container
    = f.submit 'Change password', class: 'button'
