.clearfix.panel
  .row
    .medium-12.columns
      %h1.text-center.show-for-small-only
        = "Import data to #{@sensor.name}"
      %h1.show-for-medium-up
        = "Import data to #{@sensor.name}"
= render 'layouts/flash'
.row
  .medium-4.columns
    = form_tag import_action_sensor_records_path(@sensor), multipart: true do
      = file_field_tag :file, accept: 'text/csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'
      = submit_tag "Import", class: 'button'
  .medium-8.columns
    %h4 How it works
    %p
      To be able to import your data you have to format your spreadsheet
      data in a specific way.
    %p
      There needs to be a header including "created_at" and "value". The
      datasets underneeth starting from line two.

