<h1>Listing records</h1>

<%= form_tag sensor_records_path(@sensor), :id => 'date_form', :method => :get do %>
	<%= datetime_field_tag 'from', @from.to_s %>
	<%= datetime_field_tag 'to', @to.to_s %>
	<%= submit_tag 'Filter', id: 'date_submit' %>
<% end %>

<table>
<thead>
	<tr>
		<th>Value</th>
		<th>Sensor</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.value %></td>
        <td><%= record.sensor.name %></td>
        <td><%= link_to 'Show', sensor_record_path(record.sensor, record) %></td>
        <td><%= link_to 'Edit', edit_sensor_record_path(record.sensor, record) %></td>
        <td><%= link_to 'Destroy', sensor_record_path(record.sensor, record), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_sensor_record_path %>
