<div class="panel-heading">
  <h2><%= t 'sensor.records' %> <small><%= t 'sensor.for_sensor', sensor_title: @sensor.title %></small></h2>
</div>

<div class="panel-body">
  <% if @records.empty? %>
    <%= render 'sensors/no_records' %>
  <% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t 'sensor.timestamp' %></th>
        <th><%= t 'sensor.value' %></th>
      </tr>
    </thead>
    <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= l record.created_at, format: :full %></td>
        <td><%= record.value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>

