.clearfix.panel
  .row
    .medium-4.columns
      %h1.text-center.show-for-small-only
        = @sensor.name
      %h1.show-for-medium-up
        = @sensor.name
    .medium-8.columns
      = link_to ' Delete', sensor_path(@sensor), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'button fi-x right show-for-medium-up alert margin-left-20'
      = link_to ' Edit', edit_sensor_path(@sensor), class: 'button fi-pencil right show-for-medium-up margin-left-20'
      = link_to ' Edit', edit_sensor_path(@sensor), class: 'button fi-pencil show-for-small-only'
      = link_to ' Delete', sensor_path(@sensor), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'button fi-x show-for-small-only alert'
      = link_to '#', class: 'button dropdown hide-for-small-only right margin-left-20', data: { dropdown: 'drop' } do
        %span.fi-download
        Export
      %ul#drop.f-dropdown{:data => { :dropdown_content => ''} }
        %li= link_to ' CSV', sensor_records_path(@sensor, format: :csv), class: 'fi-page-export-csv'
        %li= link_to ' XLS (Excel)', sensor_records_path(@sensor, format: :xls), class: 'fi-page-export-doc'
      = link_to ' Import', import_sensor_records_path(@sensor), class: 'button hide-for-small-only right'
= render 'layouts/flash'
.row
  = form_tag sensor_records_path(@sensor), :id => 'date_form', :method => :get do
    .row
      #from_box.medium-2.columns.medium-offset-6
        = text_field_tag 'from_date', @from.to_date.strftime("%m/%d/%Y"), class: 'datepicker'
      #to_box.medium-2.columns
        = text_field_tag 'to_date', @to.to_date.strftime("%m/%d/%Y"), class: 'datepicker'
      #submit_box.medium-2.columns
        = button_tag type: 'submit',id: 'date_submit', class: 'button small low-button' do
          %i.fi-filter
          Filter
  - if @records.empty?
    %h1.text-center.margin-top-20 No data for that timespan
  - else
    #graph.aGraph
    :javascript
      uri = "#{sensor_records_json_with_params_path(@sensor)}"
      selector = "div#graph"
    %dl.accordion{"data-accordion" => ""}
      %dd
        = link_to 'Data table', '#data-table'
        #data-table.content
          %table.full-width
            %thead
              %tr
                %th Value
                %th Time
                %th
            %tbody
              - @records.each do |record|
                %tr
                  %td= record.value
                  %td= record.created_at
                  %td= link_to 'Destroy', sensor_record_path(record.sensor, record), method: :delete, data: { confirm: 'Are you sure?' }
