%p#notice= notice
%p
  %strong Value:
  = @record.value
%p
  %strong Sensor:
  = @record.sensor.name
= link_to 'Edit', edit_sensor_record_path(@record.sensor, @record)
|
\#{link_to 'Back', sensor_records_path(@record.sensor)}
