<%= form_for(@sensor) do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label t('sensor.name'), class: 'control-label col-sm-3' %>
    <div class="col-sm-6">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label t('sensor.description'), class: 'control-label col-sm-3' %>
    <div class="col-sm-6">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label t('sensor.chart_type'), class: 'control-label col-sm-3' %>
    <div class="col-sm-6">
      <%= f.select :chart_type, options_for_select(Sensor.chart_types.collect {|s| [s[0].humanize, s[0]]}, selected: @sensor.chart_type), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label t('sensor.users'), class: 'control-label col-sm-3' %>
    <div class="col-sm-6">
      <div class="row">
        <ul class="list-unstyled" id="user-access-list" style="padding: 0px 18px;">
          <%- if @sensor.sensor_accesses.empty? %>
            <li class="user">
              <div class="row">
                <input type="hidden" class="current_index" value="0" />
                <input type="hidden" name="sensor[sensor_accesses_attributes][0][user_id]" value="<%= current_user.id %>" />
                <div class="col-sm-7"><%= current_user.email %></div>
                <div class="col-sm-4 text-right"><select class="access-level-select form-control" name="sensor[sensor_accesses_attributes][0][access_level]" disabled><%= options_for_select(SensorAccess.access_levels.collect {|s| [s[0].humanize, s[0]]}, selected: 0) %></select></div>
                <div class="col-sm-1 text-right"></div>
              </div>
            </li>
          <%- end %>
          <%- @sensor.sensor_accesses.each_with_index do |sensor_access, index| %>
            <li class="user">
              <div class="row">
                <input type="hidden" class="current_index" value="<%= index %>" />
                <input type="hidden" name="sensor[sensor_accesses_attributes][<%= index %>][id]" value="<%= sensor_access.id %>" />
                <input type="hidden" name="sensor[sensor_accesses_attributes][<%= index %>][user_id]" value="<%= sensor_access.user.id %>" />
                <div class="col-sm-7"><%= sensor_access.user.email %></div>
                <div class="col-sm-4 text-right"><select class="access-level-select form-control" name="sensor[sensor_accesses_attributes][<%= index %>][access_level]"<%= sensor_access.user.id == current_user.id ? ' disabled' : '' %>><%= options_for_select(SensorAccess.access_levels.collect {|s| [s[0].humanize, s[0]]}, selected: sensor_access.access_level) %></select></div>
                <div class="col-sm-1 text-right">
                  <%- if !(sensor_access.user.id == current_user.id) %>
                    <button type="button" class="remove-user close"><span>&times;</span></button>
                  <%- end %>
                </div>
              </div>
            </li>
          <%- end %>
          <li id="user-search-list-item">
            <div class="form-group row" style="padding: 10px; margin-top: 15px;">
              <input type="text" id="user-search" class="form-control" placeholder="Search for user to add">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="actions row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= f.submit class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<%- end %>
