= form_for(@sensor) do |f|
  = render 'sensors/alert'
  .field
    = f.text_field :name, placeholder: 'Name'
  .field
    = select("sensor", "unit_id", Unit.all.collect {|u| [ u.name, u.id ] }, {include_blank: 'Unit'})
  .actions
    = f.submit class: 'button'
