= form_for(@sensor) do |f|
  - if @sensor.errors.any?
    #error_explanation
      %h2
        = pluralize(@sensor.errors.count, "error")
        prohibited this sensor from being saved:
      %ul
        - @sensor.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :name, placeholder: 'Name'
  .field
    = select("sensor", "unit_id", Unit.all.collect {|u| [ u.name, u.id ] }, {include_blank: 'Unit'})
  .actions
    = f.submit class: 'button'
