<div class="panel-heading">
  <h2><%= t 'sensor.settings.title' %></h2>
</div>

<div class="panel-body">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <%= t 'sensor.settings.common' %>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <%= t 'sensor.settings.common' %>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p><%= t 'sensor.we_prepared_code_snippets' %></p>
          <p>
            <%= t 'sensor.heres_an_example' %>
            <select id="language-selector" name="Language">
              <option>curl</option>
              <option>ruby</option>
              <option>python</option>
            </select>
          </p>
          <pre class="code-snippet code-snippet-curl"><code>$ curl --data '{"value":10}' <%= "#{root_url}api/v1/sensors/#{@sensor.id}/records" %> --header "Authorization:&lt;Your Authentication Token&gt;"  --header "Content-Type:application/json"</code></pre>
          <pre class="code-snippet code-snippet-ruby" style="display:none;"><code>require 'net/http'
require 'json'

uri = URI('<%= "#{root_url}api/v1/sensors/#{@sensor.id}/records" %>')
http = Net::HTTP.new(uri.host, uri.port)
req = Net::HTTP::Post.new(uri.path, initheader = {
  'Content-Type' => 'application/json',
  'Authorization' => '&lt;Your Authentication Token&gt;'
})
req.body = {value: 10}.to_json
res = http.request(req)
</code></pre>
          <pre class="code-snippet code-snippet-python" style="display:none;"><code>import requests
import json

response = requests.post(
    '<%= "#{root_url}api/v1/sensors/#{@sensor.id}/records" %>',
    data=json.dumps({'value': 10}),
    headers={'content-type': 'application/json', 'authorization': '&lt;Your Authentication Token&gt;'}
)
</code></pre>
          <blockquote><%= t 'sensor.generate_token_hint_html', auth_token_link: link_to(t('sensor.auth_token_link'), users_token_index_url) %></blockquote>
        </div>
      </div>
    </div>
</div>

