<div class="container">
  <div class="row">
  <% @sensors.each_slice(2).each do |sensor_pair| %>
    <% sensor_pair.each do |sensor| %>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><%= link_to sensor.title, sensor %></div>
        <div class="panel-body">
          <% if sensor.records.where(created_at: Date.today..Date.tomorrow).empty? %>
            <%= link_to sensor do %>
            <div class="text-center" style="width: 100%; height: 200px; background-color: #F0F0F0;">
              <h2 style="position: relative; top: 40%;"><strong><%= t 'sensor.no_data' %></strong></h2>
            </div>
            <% end %>
          <% else %>
            <%= link_to sensor do %>
              <svg id="chart-sensor-<%= sensor.id %>" class="small-chart"></svg>
            <% end %>
          <% end %>
          <script>new Chart(<%= sensor.id %>, "#chart-sensor-<%= sensor.id %>", "<%= sensor.chart_type %>", false).initialize();</script>
          <small class="pull-right" style="margin-top: 15px;">
            <%= link_to sensor do %>
              <span><%= t 'sensor.more' %></span>
              <i class="glyphicon glyphicon-chevron-right"></i>
            <% end %>
          </small>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <% if @sensors.empty? %>
    <h2 class="text-center"><%= t('sensor.no_sensors_html', get_started_link: link_to(t('sensor.get_started_link'), new_sensor_url)) %></h2>
  <% end %>
</div>

