<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sensor.name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= link_to @sensor.unit.name, @sensor.unit %>
</p>

<p>
  <strong>Unit-Type:</strong>
  <%= link_to @sensor.unit_type.name, @sensor.unit_type %>
</p>

<%= link_to 'Records for this Sensor', sensor_records_path(@sensor) %>

<br>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
