%p#notice= notice
%p
  %strong Name:
  = @unit.name
%p
  %strong Symbol:
  = @unit.symbol
%p
  %strong Type:
  = link_to @unit.type.name, @unit.type
= link_to 'Edit', edit_unit_path(@unit)
|
\#{link_to 'Back', units_path}
