.clearfix.panel
  .row
    .medium-9.columns
      %h1.text-center.show-for-small-only Your Access Tokens
      %h1.show-for-medium-up Your Access Tokens
    .medium-3.columns
      = link_to ' New Token', authentication_tokens_path, method: :post, class: 'fi-plus button right show-for-medium-up'
      = link_to ' New Token', authentication_tokens_path, method: :post, class: 'fi-plus button show-for-small-only'
= render 'layouts/flash'
.row
  .large-12.columns
    %table.full-width
      %tr
        %th Token
        %th
          %span.has-tip{"data-tooltip" => "", "title" => "For security reasons an authentication Token is only valid for two days, but renewed everytime it is used."}Valid until
        %th

      - @authentication_tokens.each do |authentication_token|
        %tr
          %td.text-center= authentication_token.token
          %td.text-center
            - if authentication_token.valid_until.past?
              Outdated
              = link_to ' Renew', authentication_token_path(authentication_token), :method => :put, class: 'fi-refresh button success small low-button'
            - else
              = authentication_token.valid_until
          %td.text-center= link_to ' Delete', authentication_token, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'fi-x button alert small low-button'
