%div.clearfix.panel
  %h1.left Your Access Tokens
  = link_to ' New Token', authentication_tokens_path, method: :post, class: 'fi-page-add button right'

%table
  %tr
    %th Token
    %th Valid until
    %th User
    %th

  - @authentication_tokens.each do |authentication_token|
    %tr
      %td= authentication_token.token
      %td= authentication_token.valid_until
      %td= authentication_token.user.username
      %td= link_to ' Delete', authentication_token, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'fi-page-delete'

%br
