%h1 Listing authentication_tokens

%table
  %tr
    %th Token
    %th Valid until
    %th User
    %th

  - @authentication_tokens.each do |authentication_token|
    %tr
      %td= authentication_token.token
      %td= authentication_token.valid_until
      %td= authentication_token.user.username
      %td= link_to 'Destroy', authentication_token, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Authentication token', authentication_tokens_path, method: :post
