%p#notice= notice

%p
  %b Token:
  = @authentication_token.token
%p
  %b Valid until:
  = @authentication_token.valid_until
%p
  %b User:
  = @authentication_token.user_id

= link_to 'Edit', edit_authentication_token_path(@authentication_token)
\|
= link_to 'Back', authentication_tokens_path
