<!DOCTYPE html>
<html>
<head>
  <title>OShome</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to user_signed_in? ? root_url : new_user_session_url, class: 'navbar-brand' do %>
        <i class="glyphicon glyphicon-home"></i> OShome
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%- if user_signed_in? %>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <i class="glyphicon glyphicon-dashboard"></i>
          <span><%= t('sensor.title') %></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to t('sensor.dashboard'), sensors_url %></li>
          <li class="divider"></li>
          <% unless current_user.sensors.empty? %>
          <% current_user.sensors.each do |sensor| %>
          <li><%= link_to sensor.title, sensor %></li>
          <% end %>
          <li class="divider"></li>
          <% end %>
          <li><%= link_to t('sensor.new'), new_sensor_url %></li>
        </ul>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%- if user_signed_in? %>
        <li>
          <%= link_to edit_user_registration_url, class: 'glyphicon glyphicon-user', 'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => "", 'data-original-title' => t('profile.title'), 'data-template' => '<div class="tooltip hidden-xs" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' do %>
            <span class="visible-xs-inline"><%= t 'profile.title' %></span>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_url, method: :delete, class: 'glyphicon glyphicon-log-out', 'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => "", 'data-original-title' => t('logout'), 'data-template' => '<div class="tooltip hidden-xs" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' do %>
            <span class="visible-xs-inline"><%= t('logout') %></span>
          <% end %>
        </li>
        <%- else %>
        <li><%= link_to t('signup'), new_user_registration_url %></li>
        <li><%= link_to t('login'), new_user_session_url %></li>
        <%- end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <% if !notice.nil? %>
    <div class="alert alert-info"><%= notice %>
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a> 
    </div>
    <% end %>
    <% if !alert.nil? %> 
    <div class="alert alert-warning"><%= alert %>
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a> 
    </div>
    <% end %>
  </div>
</div>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
