!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "OSHome"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "d3"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .off-canvas-wrap.full-height
      .inner-wrap.full-height
        %nav.tab-bar.show-for-small
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span OSHome
        %aside.left-off-canvas-menu.full-height
          %ul.off-canvas-list
            %li
              %label OSHome
            - if user_signed_in?
              %li= link_to ' Dashboard', :root
              %li= link_to ' Sensors', sensors_path, class: 'fi-graph-trend'
              %li= link_to 'Units', units_path
              %li= link_to 'Types', types_path
              %li= link_to ' Account', edit_user_registration_path, class: 'fi-torso'
              %li= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'fi-logout'
            - else
              %li= link_to 'Login', new_user_session_path
        %a.exit-off-canvas
        .contain-to-grid.hide-for-small
          %nav.top-bar{"data-topbar" => ""}
            %ul.title-area
              %li.name
                %h1= link_to 'OSHome', sensors_path
            %section.top-bar-section
              - if user_signed_in?
                %ul.left
                  %li= link_to ' Sensors', sensors_path, class: 'fi-graph-trend'
                  - if can? :manage, Unit
                    %li= link_to 'Unit', units_path
                  - if can? :manage, Type
                    %li= link_to 'Types', types_path
                %ul.right
                  %li
                    = link_to " #{current_user.username}", edit_user_registration_path, class: 'fi-torso'
                  %li
                    = link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'fi-logout'
              - else
                %ul.right
                  %li
                    = link_to 'Login', new_user_session_path
        = content_for?(:content) ? yield(:content) : yield 
