<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "OSHome" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar" data-topbar> 
  <ul class="title-area"> 
    <li class="name"> <h1><a href="/">OSHome</a></h1> </li> 
  </ul> 
  <section class="top-bar-section">
    <!-- Left Nav Section --> 
    <ul class="left"> 
      <li><a href='/sensors'>Sensors</a><li>
      <li><a href='/users/authentication_tokens'>API Token</a><li>
    </ul> 
    <!-- Right Nav Section --> 
    <ul class="right"> 
      <li>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
      </li> 
    </ul> 
  </section> 
</nav>

<%= yield %>

</body>
</html>
