<%= inside_layout 'application' do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <%= link_to @sensor do %>
                  <i class="icon mdi-editor-insert-chart"></i> <%= t 'sensor.show' %>
                <% end %>
              </li>
              <li>
                <%= link_to sensor_records_url(@sensor) do %>
                  <i class="icon mdi-editor-border-all"></i> <%= t 'sensor.records' %>
                <% end %>
              </li>
              <li>
                <%= link_to export_sensor_records_url(@sensor, format: 'csv') do %>
                  <i class="icon mdi-file-file-download"></i> <%= t 'sensor.export' %>
                <%- end %>
              </li>
                <%- if can? :update, @sensor %>
                  <li>
                    <%= link_to edit_sensor_url(@sensor) do %>
                      <i class="icon mdi-action-settings"></i> <%= t 'sensor.settings.title' %>
                    <% end %>
                  </li>
                <%- end %>
            </ul>
          </div>
        </div>
        <% if (action_name == 'index' && controller_name == 'records') || (action_name == 'show' && controller_name == 'sensors') %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render 'sensors/filter_form' %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

